sortedcontainers==2.3.0
google_auth_oauthlib==0.4.4
requests==2.21.0
discord==1.0.1
google_api_python_client==2.1.0
num2words==0.5.10
prettytable==2.1.0
protobuf==3.15.8
python-dotenv==0.17.0
tinydb==4.4.0
